@model MusicBoxProj.Models.Song
@using System.Text.RegularExpressions;


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Song Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SongName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class="col-sm-10">
            <a href="/Albums/Details/@Model.Album.AlbumId">@Html.DisplayFor(model => model.Album.AlbumName)</a>

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Band)
        </dt>
        <dd class="col-sm-10">
            <a href="/Bands/Details/@Model.Band.BandId">@Html.DisplayFor(model => model.Band.BandName)</a>

        </dd>
        <dt class="col-sm-2">
            Youtube URL
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.SongFilePath)" @Html.DisplayFor(model => model.SongFilePath)
</a>

            @Html.DisplayFor(model => model.SongFilePath)
        </dd>
        <dd class="col-sm-10">
            @{

                var ytUrl = Model.SongFilePath;

                var regex = new Regex(@"(?:youtu\.be\/|youtube\.com\/(?:watch\?.*v=|embed\/))([\w-]+)");

                var match = regex.Match(ytUrl);

                var videoId = match.Groups[1].Value;

                var ytedit = $"https://www.youtube.com/embed/{videoId}";
                <iframe width="500" height="280" src="@ytedit" frameborder="0" allowfullscreen></iframe>


            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SongId">Edit</a> |
    <a asp-action="Index">Go to the Songs page</a>
</div>
