@model IEnumerable<MusicBoxProj.Models.Song>


@{
    ViewData["Title"] = "Index";
}

<h1>Songs</h1>


<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<div>
    <nav class="navbar">
        <div class="container-fluid">
            <form asp-controller="Songs" asp-action="Index" method="get">
                Search by Name: <input type="text" name="searchString" />
                <input type="submit" value="Filter" />
            </form>
        </div>
    </nav>
</div>





<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Song Names
            </th>
            <th>
        Band Name
            </th>
            <th>
        Album Name
    </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SongName)
                </td>
                <td>
                    <a href="/Bands/Details/@item.Band.BandId">@Html.DisplayFor(modelItem => item.Band.BandName)</a>

                </td>
                <td>
                    <a href="/Albums/Details/@item.Album.AlbumId">@Html.DisplayFor(modelItem => item.Album.AlbumName)</a>
                </td>
                <td>
                    @{
                        var ytUrl = item.SongFilePath;
                        var ytedit = ytUrl.Replace("/watch?v=", "/embed/");
                        <iframe width="500" height="280" src=@ytedit frameborder="0" allowfullscreen></iframe>
                    }
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>